asn1==2.4.1
autopep8==1.5.7
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
cryptography==35.0.0
enum-compat==0.0.3
idna==3.2
pycodestyle==2.7.0
pycparser==2.20
requests==2.26.0
toml==0.10.2
urllib3==1.26.7
