beautifulsoup4==4.8.1
bleach==3.1.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
docutils==0.15.2
idna==2.8
pkginfo==1.5.0.1
Pygments==2.5.2
readme-renderer==24.0
requests==2.22.0
requests-toolbelt==0.9.1
six==1.13.0
soupsieve==1.9.5
tqdm==4.40.1
twine==1.15.0
urllib3==1.25.7
webencodings==0.5.1
